body {
  font-family: "Quicksand", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  line-height: 1.6;
  background-color: #1a1a1a; /* Dark mode background */
  color: #f8f9fa; /* Light text for dark mode */
}

.main-content {
  margin-left: 250px;
}

h1,
h2,
h3 {
  margin-top: 0;
  font-family: "Playfair Display", serif;
  color: #f8f9fa; /* Light headings for dark mode */
}
